/*header*/

header{
    background-color: #88A096;
    
}

.logo img{
        height: 60px;
        width: auto;
}

/*Navegación color letras*/
.nav-link{
    color: #2A4D35 !important;
    font-weight: bold;
    margin-right: 20px;
}

.nav-link:hover{
    color: #2A4D35 !important;
    text-decoration: underline;
}

/*Main*/

/*Carrusel*/
.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    padding: 20px;
}

/*historia*/
section div.historia-imagen {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*Cartas */

.card-img-top {
    height: 250px;       
    object-fit: cover;   
    object-position: center;
}

/*Footer*/
footer {
    background-color: #88A096 !important;
    color: #2A4D35 !important;
    text-align: justify;
    padding: 20px 0;
}