/*header*/

header{
    background-color: #88A096;
    
}

.nav-link{
    color: #2A4D35 !important;
    font-weight: bold;
}

.nav-link:hover{
    color: #2A4D35 !important;
    text-decoration: underline;
}
/*Main*/



/*Carrusel*/
.carousel-item img {
            height: 500px;
            object-fit: cover;
}

.carousel-caption {
            background: rgba(0, 0, 0, 0.6); 
            border-radius: 10px;
            padding: 20px;
}